<div class="container">
  <h3>Users</h3>
  <app-user-list></app-user-list>
  <h3>Tasks</h3>
  <app-task-list></app-task-list>
  <h3>Notes</h3>
  <app-note-list></app-note-list>

  <div class="clearfix">
    <div class="float-right">
      <button class="btn btn-secondary mr-1" (click)="resetState()">
        Reset State
      </button>
      <button class="btn btn-secondary mr-1" (click)="addUsers()">
        Add Users
      </button>
      <button class="btn btn-primary mr-1" (click)="fetchNotes()">
        Fetch Notes
      </button>
      <button class="btn btn-primary mr-1" (click)="fetchUsers()">
        Fetch Users and Tasks
      </button>
    </div>
  </div>

  <div>Update count: {{stateUpdates$ | async}}</div>
  <div class="mt-2">
    Latest actions:
    <ul>
      <li *ngFor="let action of (lastFiveActions$ | async)">
        {{action}}
      </li>
    </ul>
  </div>
</div>